<div class = "container">

<%= form_with(model: @blog, local: true, url: choose_new_or_edit) do |form| %>
    <% if @blog.errors.any? %>
        <div id="error_explanation">
            <p class="alert alert-danger" role="alert"><%= @blog.errors.count %>件のエラーがあります。</p>
            <ul>
            <% @blog.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
            </ul>
        </div>
    <% end %>

    <div class = "row">
      <div class = "col-xs-12 col-sm-12">
          <%= form.text_area :content,:size=>"50x10" %>
      </div>
    </div>
</br>
    <%= form.submit "つぶやく", class: "btn btn-info"%>
<% end %>

</br>

<td><%= link_to '一覧に戻る', blogs_path%></td>

</div>
