<h3>以下の内容で、送信する。</h3>

<%= form_with(model: @blog, url: blogs_path, local: true) do |form| %>
    <%= form.hidden_field :content %>

    <p>本文:<%= @blog.content %></p>
    <%= form.submit  "投稿する" %>
<% end %>

</br>

<%= form_with(model: @blog, url: new_blog_path, local: true, method: 'get') do |form| %>
    <%= form.hidden_field :content %>
    <%= form.submit "もどる", name: 'back' %>
<% end %>
