<div class = "container">
  <div class = "page_title">独り言一覧</div>

  <div class = "new_tweet">
    <%= link_to '新しく独り言をつぶやく', new_blog_path, class: "btn btn-info" %>
  </div>

<div class = "row">
  <% @blogs.each do |blog| %>
    <div class = "col-xs-12 col-ms-6 blog-panel">
      <p><%= @blog.user.name %>さんの独り言</p>
      </br>
      <p><%= blog.content %></p>
      <div class= "blog-links">
        <% if current_user.id == blog.user_id %>
          <%= link_to '詳細確認', blog_path(blog.id), class: "btn btn-info" %>
          <%= link_to '編集する', edit_blog_path(blog.id), data: { confirm: '本当に編集してよろしいですか？'}, class: "btn btn-success" %>
          <%= link_to '削除する', blog_path(blog.id), method: :delete, data: { confirm: '本当に削除してよろしいですか？'}, class: "btn btn-warning" %>
        <% else %>
          <%= link_to '詳細確認', blog_path(blog.id), class: "btn btn-info" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

</div>
