<p id="notice"><%= notice %></p>

<p>
  <strong>お名前:</strong>
  <%= @contact.name %>
</p>

<p>
  <strong>メールアドレス:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>お問い合わせ内容:</strong>
  <%= @contact.content %>
</p>

<%= link_to 'Back', contacts_path %>
